<ion-content>
 <div>
   <ion-icon (click)="goBack()" class="icon-back" color="primary" name="arrow-back-outline"></ion-icon>
   <img class="img-receta" src="https://images.unsplash.com/photo-1473093295043-cdd812d0e601?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" alt="">
 </div>
 <div class="body-recipe-container">
  <ion-text class="nombre-receta-listado" color="primary">
    Pasta de espinaca con fresas
  </ion-text> <br>
  <ion-text class="descripcion-receta-listado ion-text-wrap color-gris">
    Un plato poco comun pero con un sabor exquisito, suave para el estomago y con grasas controladas para tu cuerpo, los usuarios han disfrutado mucho de esta receta.
  </ion-text>
  <ion-grid fixed>
    <ion-row>
      <ion-col class="colum-icons-texto-receta-listado" size="3">
        <ion-icon class="icon-receta-listado" color="warning" name="alarm-outline"></ion-icon>
        <ion-text class="texto-icons-receta-listado" color="primary">
          30min
        </ion-text>
      </ion-col>
      <ion-col class="colum-icons-texto-receta-listado" size="3">
        <ion-icon class="icon-receta-listado" color="warning" name="flame-outline"></ion-icon>
        <ion-text class="texto-icons-receta-listado" color="primary">
          Medio
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
 </div>
 <div class="body-recipe-container">
  <ion-text class="nombre-receta-listado" color="primary">
    Ingredientes
  </ion-text><br>
  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let item of fakeIngredientes" class="slide-ingredientes">
    <img class="img-ingrediente" src="https://images.unsplash.com/photo-1603729362753-f8162ac6c3df?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">
    <ion-text class="text-top-ingrediente">
     Pasta
    </ion-text>
    <ion-text class="text-bottom-ingrediente">
      Pasta
     </ion-text>
    </ion-slide>
  </ion-slides>
 </div>
 <div class="body-recipe-container">
  <ion-text class="nombre-receta-listado" color="primary">
    Preparacion
  </ion-text> <br>
  <ion-text class="descripcion-receta-listado ion-text-wrap color-gris">
    Cocinar la pasta, agregarle el pesto y por ultimo agregar las fresas ricadas en rodajas.
  </ion-text>
 </div>
</ion-content>
