<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="bg-app">
    <ion-buttons slot="end">
     <ion-icon (click)="goToSearchPage()" class="icon-search" name="search-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-app ion-padding">
 
 <ion-text class="encabezado" color="primary">
   Categorias
 </ion-text>

 <ion-slides [options]="slideOpts">
   <ion-slide (click)="goToCategoriesPage()" *ngFor="let categoria of categorias" class="slide">
   <img class="img-categoria" [src]="categoria.foto">
   <ion-text class="text-pizza">
     {{ categoria.nombreCategoria }}
   </ion-text>
   </ion-slide>
 </ion-slides>
 <br>
 <ion-text class="encabezado" color="primary">
  Listado comidas
</ion-text>
<app-listado-recetas-component></app-listado-recetas-component>
</ion-content>
